.contain{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .header{
        background-color: red;
        padding: 20px;
        flex-wrap: wrap;
    }

    .body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px;
        height: 100%;
        flex-wrap: wrap;
        
        .left{
            height: 95%;
            width: 40%;
            background-color: #ff7979;
        }
        .right{
            height: 95%;
            width: 50%;
            display: grid;
            grid-template-columns: minmax(700px, 1fr);
            
            .rightFirst{
                background-color: #ff7979;
            }
            .rightSecond{
                background-color: #ff7979;
                margin-top: 40px;
            }   
            #text{
                margin-top: 80px;
                font-size: xx-large;
            } 
            .btn{
                background-color: gainsboro;
                color: black;
                border: none;
                text-decoration: none;
            }
            
        }
    }

    .footer{
        background-color: red;
        /* padding: 20px; */
    }
}

